{% extends 'base.html' %}

{% block content %}
<h2 class="text-decoration-none d-flex justify-content-center text-light"><i class="mx-1 bi bi-person-fill"></i> USERS
        CRUD
</h2>
<br>
<a class="lead text-decoration-none d-flex justify-content-center text-light" href="{{ url_for('usersAll') }}">
        <i class="mx-1 bi bi-search"></i> SEE ALL USERS</a>
<a class="lead text-decoration-none d-flex justify-content-center text-light" href="{{ url_for('usersCreateRender') }}">
        <i class="mx-1 bi bi-person-fill-add"> </i> CREATE USER</a>
<a class="lead text-decoration-none d-flex justify-content-center text-light" href="{{ url_for('usersReadRender') }}">
        <i class="mx-1 bi bi-person-bounding-box"> </i> READ USER</a>
<a class="lead text-decoration-none d-flex justify-content-center text-light" href="{{ url_for('usersUpdateRender') }}">
        <i class="mx-1 bi bi-person-fill-gear"> </i> UPDATE USER</a>
<a class="lead text-decoration-none d-flex justify-content-center text-light" href="{{ url_for('usersDeleteRender') }}">
        <i class="mx-1 bi bi-person-fill-x"></i> DELETE USER</a>
<br>
<br>
<h2 class="text-decoration-none d-flex justify-content-center text-light"><i class="bi bi-list-task"></i></i> TODOS CRUD
</h2>
<br>
<a class="lead text-decoration-none d-flex justify-content-center text-light" href="{{ url_for('todosAll') }}"> <i
                class="mx-1 bi bi-search"></i> SEE ALL TODOS</a>
<a class="lead text-decoration-none d-flex justify-content-center text-light" href="{{ url_for('todosCreate') }}"> <i
                class="mx-1 bi bi-file-earmark-plus"></i> CREATE TODO</a>
<a class="lead text-decoration-none d-flex justify-content-center text-light" href="{{ url_for('todosReadRender') }}"> <i
                class="mx-1 bi bi-card-text"></i> READ TODO</a>
<a class="lead text-decoration-none d-flex justify-content-center text-light" href="{{ url_for('todosUpdateRender') }}"> <i
                class="mx-1 bi bi-gear-fill"></i> UPDATE
        TODO</a>
<a class="lead text-decoration-none d-flex justify-content-center text-light" href="{{ url_for('todosDeleteRender') }}"> <i
                class="mx-1 bi bi-file-excel"></i> DELETE
        TODO</a>
{% endblock %}