{% extends "base.html" %}

{% block content %}
<h2 class="text-decoration-none d-flex justify-content-center text-light"><i class="bi bi-person-fill"></i> USERLIST
</h2>
<br>
<br>
<a class="lead text-decoration-none d-flex justify-content-center text-light" href="{{ url_for('usersReadRender') }}"><i
        class="mx-1 bi bi-person-bounding-box"> </i>READ SPECIFIC USER</a>
        <br><br>
{% for user in users %}
<p class="d-flex justify-content-center text-light lead text-decoration-none">{{user["name"] }} - User ID:
    {{user["id"]}}
</p>
{% endfor %}

{% endblock %}